# MySQL
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress_password
MYSQL_ROOT_PASSWORD=root_password

# WordPress
WP_HOME=http://localhost:8080
WP_SITEURL=http://localhost:8080

# WordPress Admin (wird von wpcli-Service in setup.sh verwendet)
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin_password
WP_ADMIN_EMAIL=admin@localhost.local

# Replicate.com (für generate-images.mjs)
REPLICATE_API_TOKEN=your_replicate_api_token_here
